## Scraping Top 100 movies from IMDB

In [1]:
# importing required libraries
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
# sending get request to url 
url='https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'
response = requests.get(url)
response

In [3]:
# pull data out of html 
soup=bs(response.content,'html.parser')

In [4]:
#creating an empty list
movie_name = []
year_of_release = []
time = []
rating = []
metascore = []

In [5]:
#storing required data in the variable
data = soup.findAll('div', attrs= {'class': 'lister-item mode-advanced'})   # div name of tag, attrs is attributes

In [6]:
#calling one by one using for loop
for store in data:
     name = store.h3.a.text
     movie_name.append(name)
    
     year = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(', '').replace(')', '')
     year_of_release.append(year)
    
     runtime = store.p.find('span', class_ = 'runtime').text.replace(' min', '')
     time.append(runtime)
    
     rate = store.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n', '')
     rating.append(rate)
    
     meta = store.find('span', class_ = 'metascore favorable').text.replace(' ', '') if store.find('span', class_ = 'metascore favorable') else'NA'
     metascore.append(meta)

In [7]:
# creating dataframe
movie_df = pd.DataFrame({'Name of movie': movie_name, 'Year of release': year_of_release, 'Watchtime': time, 'Movie Rating': rating, 'Metascore': metascore})
movie_df

,Name of movie,Year of release,Watchtime,Movie Rating,Metascore
0,The Shawshank Redemption,1994,142,9.3,81
1,The Godfather,1972,175,9.2,100
2,The Dark Knight,2008,152,9.0,84
3,The Lord of the Rings: The Return of the King,2003,201,9.0,94
4,Schindler's List,1993,195,9.0,94
...,...,...,...,...,...
95,Drishyam,2013,160,8.3,NA
96,Jagten,2012,115,8.3,77
97,Jodaeiye Nader az Simin,2011,123,8.3,95
98,Incendies,2010,131,8.3,80
99,Spider-Man: No Way Home,2021,148,8.3,71

In [8]:
#Saving data in Excel file:
movie_df.to_excel("Top_IMDB_movies.xlsx")

## Thank you..